@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
  

.div-geral-page {
    padding: 2.25rem 2.25rem 0.75rem !important;
}

:host ::ng-deep .datatable-body-cell {
  padding: 5px !important;
  margin: 0px !important;
  border: 0.7px solid #E9ECEF;
}
:host ::ng-deep .datatable-header-cell {
  padding: 5px !important;
  margin: 0px !important;
  border: 0.7px solid #E9ECEF;
  background-color: grey;
}

.content {
  height: 100%px;
  width: 100%;
  background-color: cadetblue;
}

body{
  background-color: burlywood;
}